@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,900);




:root {
    --mantine-color-scheme: 'light' !important;
    --main-color: white;
    --base-gray: #101010;
    --off-gray: #f1f1f1;
    --item-gray: #9D9D9D;
    --text: #000000;
    --text-gray: #6B6A69;
    --trans: #ffffff00;
    --px11: 0.6875rem;
    --px12: 0.75rem;
    --px13: 0.813rem;
    --px14: 0.875rem;
    --px15: 0.9375rem;
    --px16: 1rem;
    --px17: 1.0625rem;
    --px18: 1.125rem;
    --px19: 1.1875rem;
    --px20: 1.25rem;
    --titleFont: 2.2rem;

    --hoverBorder: rgba(0, 0, 0, 0.068);
    --frostedBorder: solid 1px rgb(44 44 44);
    --heroFont: 3.6rem;
    --frostedBackground: rgb(22 22 22);
    ;
    --lightSurface: #1d1d1da1;
    --glassBackground: #0f0f0fbd;
    --grayBackground: #f1f3f5;
    --gradientedFrostedBorder: solid 1.5px;
    --frostedText: rgba(255, 255, 255, 0.7);

    --iconGray: rgba(106, 105, 106, 1);
    --headerHeight: 80px;
}

.material-icons {
    font-family: 'Material Icons Round' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 1.75rem;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


::-webkit-scrollbar {
    width: 10px;
    margin-left: 7px;
}

/* Track */
::-webkit-scrollbar-track {

    border-radius: 2px;
    height: 150px;
    position: absolute;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 25px;
    margin-bottom: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(187, 187, 187, 0.298);
    border-radius: 50px;
    width: 7px;
    margin-top: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(187, 187, 187, 0.5);
}

button {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

body {
    background-color: var(--base-gray);


}

.mantine-Modal-content {
    background-color: var(--base-gray);
}

.mantine-Modal-header {
    background-color: var(--base-gray);
    height: 110px;
    margin: 6px 10px;
    margin-top: 0px;
    top: 0px !important;
    left: 10px !important;
}

.mantine-Modal-close {
    color: white;
    background-color: transparent;
    padding: 2px;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    margin-right: 15px;
}

.mantine-ScrollArea-viewport::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.mantine-TagsInput-pill {
    background-color: var(--frostedBackground);
    color: white;
    border: var(--frostedBorder);

}

.mantine-TextInput-wrapper {
    background: transparent !important;
}

.mantine-TextInput-input {
    background: transparent !important;
    color: white;
    border-color: #ffffff26;
}

.mantine-Input-input {
    background: transparent !important;
    color: white;
    border-color: #ffffff26;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.mantine-PillsInputField-field {
    width: 390px;
}

.mantine-Modal-close:hover {
    color: white;
    background-color: var(--frostedBackground) !important
}

.mantine-Modal-title {
    font-size: 31px;
    font-weight: 700;
}

.preview-img {
    width: 116px;
    height: 116px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: var(--frostedBackground);
    object-fit: scale-down;
}

.fileupload-group {
    display: flex;
    justify-content: space-between;
}

.fileupload-group>img {
    width: 48px;
    border-radius: 10px;
}

.input-icon {
    font-size: 20px;
    color: var(--item-gray);
}

.char-count {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.mantine-Select-option {
    font-size: 15px;
}

.mantine-Select-dropdown {
    background-color: var(--base-gray);
    border: var(--frostedBorder);
    border-radius: 10px;
}

.mantine-Select-option:hover {
    background-color: var(--frostedBackground);
}

.form-container {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    position: relative;
    z-index: 9999;
    margin-bottom: 10px;
}

.form-container>a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    opacity: 0.8;
    margin-top: -12px;
    text-decoration: underline;

}

:root {
    --mantine-color-gray-2: var(--frostedBackground) !important;
}

.mantine-Switch-track {
    border: var(--frostedBorder);
}

a {
    text-decoration: none;
    color: black;

}

.king-container {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100vh;

}

.king-navbar {
    height: 100%;
    border-bottom: var(--frostedBorder);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: fixed;
    top: 0px;

    height: var(--headerHeight);
    width: 100%;

    backdrop-filter: blur(10px);
    z-index: 200;
    background-color: var(--base-gray);

}

.crypto-strip {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crypto-strip>h3 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 7px;

}

.crypto-strip>p {
    font-size: 13px;
    font-weight: 500;
    color: var(--item-gray);

}

.crypto-strip>img {
    width: 20px;
    margin-right: -7px;
    margin-left: 5px;
}

.focused-btn {
    padding: 14px 0px;
    background: white;
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
    border: none;

}

.prominent-focus {
    background-color: red !important;
    color: white !important;
}

.mantine-Checkbox-input {
    background-color: var(--frostedBackground);
    border: var(--frostedBorder);
}

.prominent-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.2;
}

.focused-btn-container {
    display: flex;
    justify-content: center;
    ;
}

.new-start {
    height: 100%;
}

.new-start-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.focused-text {
    font-size: 14px;
    opacity: 0.8;
    width: 300px;
    text-align: center;
    margin-top: 12px;
}

.root-container {


    background-size: cover;
    display: grid;
    grid-template-columns: 110px 1fr;

    height: 100%;
    width: 100%;
}

.results-block {
    margin-bottom: 100px;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 100px;
    position: sticky;
    top: 80px;
    backdrop-filter: blur(10px);

    border-radius: 50px;
    background-color: rgb(22 22 22 / 64%);
    z-index: 99;
    width: 650px;
    padding: 1px 0px;
    border: var(--frostedBorder);
}

.search-stinger {
    font-size: 13px;
    color: white;
    opacity: 0.8;
    text-align: center;
    margin-top: 10px;
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10vh;
    margin-bottom: -11px;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 80px;
    z-index: 90;
    backdrop-filter: blur(21px);
    padding-bottom: 14px;
}

.search-bar>i {
    font-size: 25px;
    margin-left: 20px;
    position: absolute;
    margin-top: 15px;
}

.search-bar>input {
    background-color: transparent;
    border: none;
    padding: 13px;
    padding-left: 57px;
    border: solid 1px transparent
}

.side-panel-mid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: sticky;
    top: 88px;
}

.search-bar>button {
    background-color: transparent;
    border: none;
    padding: 13px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;

    padding-right: 25px;
}

.search-bar>input:focus {
    outline: none;

}


.table-none {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    ;
    margin: 0px 20px
}

.disabled-table {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

.iconed-table-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.restore-btn {}

.floating-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--glassBackground);
    border-top: var(--frostedBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 50;
    backdrop-filter: blur(10px);

    padding-right: 25px;
    gap: 15px;
    padding-left: 110px;

}

.floating-footer>button {
    background-color: transparent;
    border: none;
    padding: 14px 0px;

    font-weight: 600;
    font-size: 12px;
    color: white;
    cursor: pointer;
    opacity: 0.9;


}

.floating-footer>button:hover {
    opacity: 1;
}

.floating-footer>h3 {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-gray);
    padding: 14px 0px;

}

.side-panel-mid>img {
    width: 40px;
    margin-top: 20px;
}

.side-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: transparent;
}


.side-item>img {
    width: 18px;
}

.side-item>i {
    font-size: 25px;
}

.side-item>p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;

}

.side-panel-footer {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.side-panel {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--headerHeight));
    justify-content: space-between;
    align-items: center;
    border-right: var(--frostedBorder);
    position: sticky;
    top: var(--headerHeight);
    z-index: 180;
    background-color: var(--base-gray);
}


.side-panel-dragger {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;


}

.side-panel-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0px;

    padding-top: 20px;

}

.side-panel-item {
    opacity: 0.6;
    transition: 0.3s;
}

.active {
    opacity: 1;
}

.active>div>i {
    color: var(--main-color);
}

.active>div>p {
    color: var(--main-color);
}

.side-panel-drag-header {
    -webkit-app-region: drag;
    width: 100%;
    height: 80px;
}


.split-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.split-logo>span {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.8;


}

.version-status {
    font-size: 10px;
    font-weight: 500;
    color: white;
    opacity: 0.3;
    text-align: center;
}

.version-icon {
    font-size: 18px;
    margin: auto;
    opacity: 0.3;

}

.version-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    flex-direction: column;

}

.version-status-string {
    display: flex;
    align-items: center;
    opacity: 0.8 !important;
    background-color: rgb(33 33 33);
    padding: 5px 12px;
    border-radius: 5px;

    margin-left: 6px;
}

.version-status-string>i {
    font-size: 12px;

}

.slim-version {
    margin-left: 0px;
    border: none;
    border-bottom: var(--frostedBorder);
    background-color: transparent;
    padding: 9px 14px;
    display: flex;
    justify-content: center;

}


.version-status-string>p {
    font-size: 11px;
    font-weight: 500;
    color: white;

    margin-left: 5px;
}

.split-logo>img {
    width: 145px;
    ;

    margin-right: -8px;

}

.split-logo>h1 {
    font-size: 23px;
    font-weight: 600;
    margin-top: -1px;
}

.vertical-line {
    width: 1px;
    height: 12px;
    background-color: white;
    opacity: 0.3;
}

.horizontal-line {
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.05;
}




















.mantine-Menu-item {
    padding: 10px !important;
}


.table-icon {
    width: 25px;
    height: 25px;

    background-color: var(--frostedBackground);
    border-radius: 3px;
    object-fit: scale-down;
}

.table-btn {
    background-color: transparent;
    border: var(--frostedBorder);

    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50px;

}

.table-btn>i {
    font-size: 25px;
    color: white;

}

table {

    border-collapse: collapse;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;

}

td,
th {
    border: 1px solid #dddddd13;
    text-align: left;

    font-size: 14px;
    padding: 15px 27px;
}

.no-data {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.click-table {
    cursor: pointer;
}

.click-table:hover {
    background-color: var(--frostedBackground);
}

.table-app {
    display: flex;
    align-items: center;
    gap: 10px;
}
















.viewer-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 55px;
}

.viewer-icon>img {
    width: 65px;
    height: 65px;
    object-fit: scale-down;
    border-radius: 10px;
    background-color: transparent;

}

.viewer-title {
    display: flex;
    flex-direction: column;
}

.viewer-title>h1 {
    font-size: 30px;
    font-weight: 700;
    margin: -6px 0px;

}

.viewer-strip {
    margin-top: -5px;
}

.viewer-strip>a {
    font-size: 12px;
    font-weight: 500;
    color: white;
    opacity: 0.85;
}

.viewer-strip>a:hover {
    color: white;
    opacity: 1;
    text-decoration: underline;

}

.viewer-strip>span {
    font-size: 12px;
    font-weight: 500;
    color: white;
    opacity: 0.85;
}

.viewer-icon {
    display: flex;
    align-items: center;
}

.viewer-title>a:hover {
    color: white;
    opacity: 1;
    text-decoration: underline;

}

.viewer-title>span {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.85;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: var(--frostedBorder);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 600;
    margin: 20px 0px;
    margin-top: 30px;
    padding-right: 20px;
    margin-bottom: 30px;

}

.back-btn:hover {
    background-color: var(--frostedBackground);
}

.back-btn>i {
    font-size: 20px;
}

.app-viewer {
    margin: auto;
    width: 700px;
}


.viewer-activity-body {
    width: 100%;
    margin-bottom: 100px;
}



.activity-notice {
    display: flex;
    gap: 10px;
    align-items: center;
}

.activity-notice>p {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.8;

}

.activity-notice>i {
    font-size: 20px;
    color: white;
    opacity: 0.8;
    margin-left: 10px;
}

.activity-notice>p>a {
    font-size: 14px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
    text-decoration: underline;

}

.button-spanners {

    border-radius: 15px;
    margin: 30px 0px;

    outline: var(--frostedBorder);
}

.inline-icon {
    display: flex;
    align-items: center;
    margin-left: -9px;
}

.inline-icon>img {
    width: 55px;
    height: 55px;
    object-fit: scale-down;
    border-radius: 5px;
    background-color: var(--frostedBackground);
}

.spanner-btn>i {
    font-size: 23px;
    color: var(--main-color)
}

.spanner-btn-left {
    display: flex;
    gap: 15px;
}

.spanner-btn-right {
    display: flex;
    align-items: center;
}

.spanner-btn-right>i {
    font-size: 23px;
    color: white;
    opacity: 0.6;
}

.spanner-btn {
    background-color: transparent;
    border: none;
    padding: 17px 23px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;


}

.spanner-btn:hover {
    background-color: var(--frostedBackground);
}

.button-spanners>.spanner-btn:first-of-type {
    border-radius: 15px 15px 0px 0px;
}

.button-spanners>.spanner-btn:last-of-type {
    border-radius: 0px 0px 15px 15px;
}

.tw-text-white {
    background-color: white;
}

.tw-absolute {
    background-color: white;
    background-image: none !important;
}

.tw-text-base {
    border: none;
    border: var(--frostedBorder)
}

.tw-relative>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer-title {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: flex-start;

}

.viewer-title>h3 {
    font-size: 22px;
    font-weight: 700;


}


.auth-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.522);
    height: 100vh;
    z-index: 9999
}

span>b {
    color: black;
}

.select-modal>div:last-of-type {
    border-radius: 25px !important;
}

.auth-window {
    width: 450px;
    height: 600px;
    background-color: var(--base-gray);
    border-radius: 25px;
}

.lg-window {


    display: block !important;
    flex-direction: column;
    max-height: 630px !important;
    overflow-y: scroll;
    border: var(--frostedBorder);
    height: auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}


.promo-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: auto;
    max-width: 380px;
}

.promo-screen {
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    height: 100%;

}

.promo-action>i {
    font-size: 60px;
    ;
}

.promo-action>p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 246px
}

.promo-action>h1 {
    font-size: 36px;
    font-weight: 700;

    text-align: center;
    line-height: 48px;
}

.promo-action>img {
    width: 100px;
    margin-bottom: 10px;
    background-color: var(--frostedBackground);
    border-radius: 50%;
    object-fit: scale-down;
    padding: 15px
}

.auth-window {
    display: grid;
    grid-template-rows: 1fr 140px;
    border: var(--frostedBorder);
}

.meta-btn-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    margin: 0px 60px;
}

.meta-btn-container>button {
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    margin-top: 10px;
}

.testbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    background-color: green;
    z-index: 9999;
}

.connecting-notice {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    width: 100%;
    height: 100vh;
    backdrop-filter: blur(30px);

}

.con-text {
    font-size: 15px;
}

.meta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    width: 100%;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
}

.meta-btn>i {
    color: black;
    margin-right: 10px;
}

.meta-btn>img {
    width: 30px;
    margin-right: 10px;
}

.tip-strip {
    display: flex;
    font-size: 14px;
    gap: 6px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: -34px;
}

























.domain-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.domain-overview>i {
    font-size: 60px;
    color: white;

}

.domain-overview>h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;

}

.domain-overview>span {
    font-size: 13px;
    font-weight: 500;
    color: var(--item-gray);
    display: flex;
    align-items: center;
    margin-top: -3px;
}

.domain-overview>span>i {
    font-size: 14px;
    font-weight: 500;
    color: var(--item-gray);
}

.domain-overview>p {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.focused-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.focused-btn-container>p {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.form-block>h3 {
    font-size: 12px;
    color: white;
    opacity: 0.7;
    font-weight: 500;
    padding-left: 5px;
    text-align: center;

}

.max-width {
    max-width: 100px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.modal-table {
    margin: 0px 10px;
    margin-bottom: 20px;
}

.app-table>table>thead {
    position: sticky;
    top: 133px;
    left: 0px;
    z-index: 110;
    background-color: var(--base-gray);
    border-bottom: var(--frostedBorder);
}

.form-block {
    padding: 13px 19px;
    border-radius: 11px;

    margin-top: 0px;
    margin-bottom: 0px;

}

.form-block>h3>a {
    color: white;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
    text-decoration: underline;
}

.form-block>h3>a:hover {
    color: white;
    opacity: 1;
}




















.upload-container {
    margin: 20px;
    margin-top: 0px;
}

.upload-container>label {
    border: 2px dashed rgba(255, 255, 255, 0.136) !important;
    width: 100% !important;
    max-width: none !important;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
}

.upload-container>label>svg {
    display: none;
}

.jWkLDY>span {
    font-size: 14px !important;
}

.spanner-grouper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanner-grouper>.spanner-btn {
    background-color: transparent !important;
}

.spanner-grouper>p {
    font-size: 14px;
    font-weight: 600;
    color: white;

    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: pre;
}

.spanner-grouper>p>i {
    font-size: 20px;

}

.spanner-grouper>p>a {
    font-size: 14px;
    font-weight: 600;
    color: white;

    text-decoration: underline;
}

.inline-form-container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.inline-btn-container {
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.flat-focused-btn {
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
    border: none;
    padding: 14px 0px;
    cursor: pointer;

}

/* .mantine-Progress-section {
    background-color: var(--frostedBackground);
}
 */
.mantine-Progress-root {
    background-color: #ffffff0a;
}

.upload-progress {
    margin: 0px 20px;
    margin-bottom: 20px;
}


/* 
.mantine-Progress-section {
    background-color: var(--frostedBackground);
} */

.kFhUBM span {
    color: var(--main-color)
}

.deploy-options {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;

    margin-top: 21px;
    padding-top: 16px;
    padding-bottom: 10px;
}

.deploy-options>h4 {
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    margin-top: 0px;
}

.enhanced-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
    margin-top: 0px;
    ;
}

.switch-icon {
    font-size: 15px;
    color: white;
    opacity: 0.7;
}

.flat-btn {
    background-color: transparent;
    color: var(--main-color);
    font-weight: 600;
    font-size: 14px;

    border-radius: 50px;

    border: none;
    padding: 14px 0px;
    cursor: pointer;
}












.inline-block-btn-container {
    display: flex;
    margin: 0px 20px;
    gap: 12px;
}

.block-btn {
    padding: 12px 24px;
    background-color: var(--frostedBackground);
    border: var(--frostedBorder);
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.block-btn-primary {
    padding: 12px 24px;
    background-color: var(--main-color);
    border: var(--frostedBorder);
    font-size: 14px;
    color: black;
    font-weight: 700;
    border-radius: 8px;
}











.domain-header {
    background-color: var(--frostedBackground);
    display: flex;
    align-items: center;
    padding: 12px 12px;
    gap: 10px;
    border-radius: 10px;
}

.domain-header>span {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.domain-notice-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: var(--frostedBorder);
    border-radius: 10px;
}

.domain-notice>h4 {
    font-size: 15px;
    font-weight: 600;
    color: white;

}

.domain-block {
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.domain-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 0px 10px;
}

.domain-notice>p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
}

.domain-price>p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.domain-price>p>span {
    font-size: 14px;
    font-weight: 600;
    color: white;

}

.delete-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.loading-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    backdrop-filter: blur(20px);
}

.loading-cell {
    background-color: var(--glassBackground);
    border: var(--frostedBorder);
    border-radius: 15px;
    display: flex;
    padding: 14px 16px;
    flex-direction: column;
}

.cell-body {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px 10px;

}

.loading-spinner>img {
    width: 80px;
    pointer-events: none;
}

.cell-body>h2 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-right: 10px;

}

.cell-header {
    border-bottom: var(--frostedBorder);
    margin-bottom: 15px;
}

.cell-header>h4 {
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.8;
}

.disabled-click-table:hover {
    background-color: transparent;
    cursor: default;
}

.chain-switcher {
    margin: 0px 30px;
}

.chain-list {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.chain-right {
    display: flex;
    align-items: center;
}

.chain-text>span {
    font-size: 12px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
    margin-bottom: -2px;
}

.chain-wrap {
    background-color: transparent;
    border: var(--frostedBorder);
    border-radius: 12px;

    padding: 17px;

}

.selected-chain {
    background-color: var(--frostedBackground);


}

.selected-chain>.chain-btn>.chain-left>img {}

.chain-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.chain-left {
    display: flex;
    align-items: center;
    gap: 15px
}

.chain-left>img {
    width: 45px;
    height: 45px;
    object-fit: scale-down;
    padding: 7px;
    background-color: var(--frostedBackground);
    border-radius: 50%;
    border: var(--frostedBorder)
}

.chain-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.chain-text>h3 {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.chain-header {
    padding: 0px 30px;
    background-color: var(--base-gray);
    height: 115px;
    align-items: center;
    display: flex;
    position: sticky;
    top: -35px;
    backdrop-filter: blur(20px);
    z-index: 40;
    padding-top: 40px;
}

.chain-header>h1 {
    font-size: 30px;
    font-weight: 700;
    height: 50px;
    line-height: 48px;
}

.meta-inline-container {
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;

}

.floating-header {
    position: fixed;
    margin-left: 25px;
}

.toggle-network>img {
    width: 35px;
    height: 35px;
    object-fit: scale-down;
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;


}

.toggle-network {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
}

.toggle-network>h3 {
    font-size: 15px;
    font-weight: 600;

}

.mantine-Popover-dropdown {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}



.mantine-Select-dropdown {
    background-color: var(--base-gray) !important;
    border: var(--frostedBorder) !important;
    box-shadow: none !important;
    padding: 0px;
}



















.rail-wrapper {
    display: grid;
    grid-template-columns: 195px 1fr;
    padding: 25px;
    padding-top: 0px;
    gap: 25px;
    max-width: 1300px;
}

.side-rail {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: fit-content;
    top: 160px;

}

.rail-active {}

.rail-active>.rail-line {
    opacity: 1;
}

.rail-active>.rail-item>p {
    opacity: 1;
}

.side-rail-item {
    padding: 10px 20px;
    display: flex;
    padding-left: 0px;
    align-items: center;
    border-radius: 7px;
}



.rail-item>p {
    font-size: 14px;
    font-weight: 600;
    color: white;
    opacity: 0.8;
}

.rail-item {
    display: flex;
    align-items: center;

}

.rail-line {
    height: 20px;
    width: 2.5px;
    background-color: white;
    opacity: 0;
    margin-right: 15px;
    border-radius: 5px;
}




















.top-rail-container {
    display: flex;
    align-items: center;
    position: sticky;
    top: 80px;
    background-color: rgb(15 15 15 / 76%);
    backdrop-filter: blur(10px);
    z-index: 10;

}



.top-rail-container>h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 34px;
    color: white;
}

.top-rail {
    display: flex;
    gap: 20px;
}

.top-rail-item {
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 3px transparent;

    opacity: 0.8;

}

.top-rail-item>p {
    font-size: 15px;
    font-weight: 600;
    color: white;


}

.top-rail-active {
    border-top: solid 2.5px white;
    opacity: 1;
}














.hero-text {
    width: 400px;
}


.hero-text>h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
}

.hero>i {
    font-size: 315px;
    opacity: 1;
    color: #031623;
    filter: brightness(1.5);
}

.hero-text>p {
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-top: 7px;
    line-height: 25px;
}


.hero {
    background-color: #001523;
    display: flex;
    padding: 0px 75px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding-right: 20px;

}

.text-block>p {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    line-height: 1.77;
    margin-bottom: 15px;

}

.text-block>p>a {
    color: var(--doc-color);
    filter: brightness(4.5);
    font-weight: 600;


}

.text-block>h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    margin-bottom: 15px;
}

.doc-content-grouper>img {
    width: 350px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.doc-target {
    outline: 3px dashed rgba(255, 255, 255, 0.136);
}

.doc-page-content {

    margin: 40px 75px;
}

.doc-content-grouper {
    padding: 20px;
}

.list-block>ul {
    padding-left: 18px;
    line-height: 32px;
}

.text-link>a {
    color: var(--doc-color);
    filter: brightness(4.5);
    font-weight: 600;
}

.text-link {
    display: flex;
    gap: 15px;
    margin-top: -6px;
}










.inline-string {
    font-size: 13px;
    margin: 0px 20px;
    margin-bottom: 20px;
    opacity: 0.9;

}

.inline-string>a {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: underline;

}




.advanced-loading-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 76%);


}

.advanced-loading {
    background-color: var(--frostedBackground);
    border: var(--frostedBorder);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
}

.advanced-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--frostedBorder);
    padding: 15px 0px;
}

.adv-header-title {
    display: flex;
    align-items: center;
}

.adv-header-title>a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 5px;
}

.adv-header-title>a:hover {
    color: white;
    opacity: 1;

}

.adv-header-title>a>i {
    font-size: 15px;
    margin-right: 10px;
}

.adv-header-title>img,
.loading-circle-gif {
    width: 40px;
    height: 40px;
    object-fit: scale-down;

}

.adv-header-title>h3 {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

.advanced-progress-status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.advanced-progress-status>i {
    font-size: 33px;

}

.advanced-progress-status>h3 {
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
}

.advanced-status {
    display: flex;
    padding-bottom: 33px;
}

.adv-status-item>h4 {
    font-size: 14px;
    font-weight: 600;
    color: white;

}

.adv-status-item>p {
    font-size: 12.5px;
    font-weight: 500;
    color: white;
    opacity: 0.7;
}

.advanced-progress {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.advanced-loading {
    background-color: var(--frostedBackground);
    border: var(--frostedBorder);
    border-radius: 15px;
    padding: 0px 33px;
    width: 528px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
}












.content-chunks {}

.chunk-wrapper {
    width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chunk-btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 35px;
    background-color: transparent;
    border: var(--frostedBorder);
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: -1px;
    border-radius: 20px;

}

.disabled-chunk {
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
}

.chunk-btn:hover {
    background-color: var(--frostedBackground);
}

.chunk-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.chunk-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.chunk-right-btn {
    display: flex;
    padding: 10px 21px;
    background-color: var(--frostedBackground);
    border-radius: 50px;
    border: var(--frostedBorder);
    align-items: center;
    gap: 5px;
}

.chunk-right-btn>i {
    font-size: 16px;
    color: white;
    margin-right: -5px;

}

.chunk-right-btn>p {
    font-size: 14px;
    font-weight: 600;
    color: white;


}

.chunk-text>h3 {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.chunk-text>p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
    margin-top: -2px;
}

.chunk-left>img {
    width: 35px;
    height: 35px;
    object-fit: scale-down;

}

.chunk-right {
    display: flex;
}

.banner-chunk {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 22px 25px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    border-right: none;
    border-left: none;
    padding-top: 35px;
    justify-content: center;

}

.banner-chunk>i {
    font-size: 20px;
    color: white;
}

.banner-chunk>span {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
}

.free-flow {
    margin: 20px 0px
}

.free-flow>.chunk-wrapper {
    width: 650px;
}





















.form-container>.focused-btn-container {
    margin-top: 30px;

}


.faucet-charm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--frostedBackground);
    border-radius: 12px;
}

.faucet-charm-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.faucet-charm-left>img {
    width: 25px;
    height: 25px;
    object-fit: scale-down;

}

.charm-description {
    font-size: 13px !important;
    color: var(--text-gray) !important;
    width: 100% !important;
    text-align: center;
    font-weight: normal !important;
}

.faucet-charm-text>h3 {
    font-size: 15px;
    font-weight: 600;
    color: white;

}

.faucet-charm-text>span {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
    margin-bottom: -2px;
    display: block;

}

.mantine-NumberInput-label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}

.mantine-TextInput-label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}

.faucet-charm-text>p {
    font-size: 13px;
    font-weight: 500;
    color: white;
    opacity: 0.8;
    margin-top: -2px;
}

.faucet-charm-text>p>a {
    color: white;
    text-decoration: underline;
}

.faucet-charm-right>img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;

}

.faucet-charm-right {
    display: flex;
    align-items: center;
}

.btn-span {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.info-strip {
    width: 100%;
    background-color: var(--frostedBackground);
    padding: 5px;
    font-size: 13px;
    text-align: center;
    border-radius: 20px
}

.mantine-Menu-dropdown {
    background-color: var(--base-gray);
    border: var(--frostedBorder);
    box-shadow: none;
    border-radius: 10px;

}

.mantine-Menu-item:hover {
    background-color: var(--frostedBackground);
}

.mantine-Menu-item[data-hovered] {
    background-color: var(--frostedBackground);
}

.mantine-Menu-itemSection>i {
    font-size: 20px;
    color: white;
    opacity: 0.8;
}